

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
}
.bcontainer {
    max-width: 400px;
    margin: auto;
    padding: 20px 6%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 18px; /* Adjusted from margin: 18px 0px 0px 0px; */
  }
  
  .formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  